NODE_ENV=development         # or 'production' or 'test'
PORT=3000                   # or your desired port
MONGODB_URL=mongodb://prince:prince@192.168.1.2:27017/jal-shakti?authSource=admin
# MONGODB_URL=mongodb://YOUR_USER_NAME:YOUR_PASSWORD@YOUR_HOST_IP:YOUR_HOST_PORT/jal-shakti?authSource=admin 
JWT_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
LOG_DIR=./logs/jal-shakti   # optional, can be overridden per env
LOG_APP_NAME=jal-shakti     # optional, default is 'jal-shakti'
APP_ENV=development         # optional, used in test env
DEFAULT_PASSWORD=jal-shakti@123  # optional, default password for new users